.index {
    background-image: url(/img/emilia-home.jpg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
    height: 625px;
}


        

.index_header_menu_lista{
padding-top:  1em;
padding-left: 2em;
}

.index_header_menu_lista li{
    margin-top: 1em;
    list-style: none;
    }


.index_header_menu_redes{
margin-top: 1em;
margin-bottom: 1em;
padding-left: 2em;
}

.index_header_menu_redes span{
   font-size: 20px;
   margin-right: 0.5em;
    }

    .home_main {
        margin-top: 5em;
        padding-left: 2em;
        font-size: 20px;
    }

    .home_main_titulo {
       font-weight: 400;
    }

    .home_footer{
        margin-top: 5em;
    }

    .home_footer_frase{
        font-size: 50px;
        text-transform: uppercase;
        background-color: rgba(249, 242, 237, 0.5);
        margin-left: 0.5em;
        padding: 10px;
    }