<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/general.css">
    <title>About | Emilia</title>
</head>
<body class="about">
    <header class="about_header">
        <nav class="about_header_menu">
          <ul class="about_header_menu_lista">
            <li><a href="/">home</a></li>
            <li><a href="about.html">about</a></li>
            <li><a href="music.html">music</a></li>
            <li><a href="contact.html">contact</a></li>
          </ul>
        </nav>
        <section class="about_header_menu_redes">
          <span>
            <i class="fa-brands fa-twitter"></i>
          </span>
          <span>
            <i class="fa-brands fa-facebook"></i>
          </span>
          <span>
            <i class="fa-brands fa-spotify"></i>
          </span>
  
          <span>
            <i class="fa-brands fa-apple"></i>
          </span>
  
          <span>
            <i class="fa-brands fa-amazon"></i>
          </span>
  
          <span>
            <i class="fa-brands fa-instagram"></i>
          </span>
        </section>
      </header>
      <main class="about_main">
        <h1 class="about_main_titulo">about <br> emilia //</h1>
    </main>
      <footer class="about_footer">
        <section class="about_footer_texto">
            <article  class="about_footer_texto_uno">
                <h2>"Seattle-based pop star makes her indie debut with a hauntingly beautiful album"</h2>
<p>- John Tirckle, Music Today Post</p>
            </article>
            <article  class="about_footer_texto_dos">
              <h2>"Emilia Cole is one of the scene's breakout stars"</h2>
              <p>- John Tirckle, Music Today Post</p>  </article>
        </section>
      </footer>
</body>
</html>