<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7ad2cc9ddb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/general.css" />
    <title>Contac | Emilia</title>
  </head>
  <body>
    <header class="contact_header">
      <nav class="contact_header_menu">
        <ul class="contact_header_menu_lista">
          <li><a href="/">home</a></li>
          <li><a href="about.html">about</a></li>
          <li><a href="music.html">music</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </nav>
      <section class="contact_header_menu_redes">
        <span>
          <i class="fa-brands fa-twitter"></i>
        </span>
        <span>
          <i class="fa-brands fa-facebook"></i>
        </span>
        <span>
          <i class="fa-brands fa-spotify"></i>
        </span>

        <span>
          <i class="fa-brands fa-apple"></i>
        </span>

        <span>
          <i class="fa-brands fa-amazon"></i>
        </span>

        <span>
          <i class="fa-brands fa-instagram"></i>
        </span>
      </section>
    </header>
    <main>
      <h1 class="contact_main_titulo">contact //</h1>
      <h2 class="contact_main_titulo_subtitulo">we are hare</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158858.182370726!2d-0.10159865000000001!3d51.52864165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondres%2C%20Reino%20Unido!5e0!3m2!1ses-419!2sar!4v1656766950812!5m2!1ses-419!2sar"
        width="100%"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </main>
    <footer class="contact_footer">
      <h2 class="contact_footer_titulo">CONTACT INFO</h2>
      <section class="contact_footer_section">
        <article>
          <h3 class="contact_footer_subtitulo">MANAGEMENT | Karen Blanche</h3>
          <p class="contact_footer_parrafo">info@mysite.com</p>
          <p class="contact_footer_parrafo">phone: 123-456-7890</p>
        </article>

        <article>
          <h3 class="contact_footer_subtitulo">BOOKING | Daniel Ku</h3>
          <p class="contact_footer_parrafo">info@mysite.com</p>
          <p class="contact_footer_parrafo">phone: 123-456-7890</p>
        </article>

        <article>
          <h3 class="contact_footer_subtitulo">
            LABEL | Wix Records, Jake Coldham
          </h3>
          <p class="contact_footer_parrafo">info@mysite.com</p>
          <p class="contact_footer_parrafo">phone: 123-456-7890</p>
        </article>

        <article>
          <h3 class="contact_footer_subtitulo">
            PR | That Girl Pr, Sarah Brookstone
          </h3>
          <p class="contact_footer_parrafo">info@mysite.com</p>
          <p class="contact_footer_parrafo">phone: 123-456-7890</p>
        </article>
      </section>
    </footer>
  </body>
</html>
