<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7ad2cc9ddb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/general.css" />
    <title>Home | Emilia</title>
  </head>
  <body class="index">
    <header class="index_header">
      <nav class="index_header_menu">
        <ul class="index_header_menu_lista">
          <li><a href="#">home</a></li>
          <li><a href="about.html">about</a></li>
          <li><a href="music.html">music</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </nav>
      <section class="index_header_menu_redes">
        <span>
          <i class="fa-brands fa-twitter"></i>
        </span>
        <span>
          <i class="fa-brands fa-facebook"></i>
        </span>
        <span>
          <i class="fa-brands fa-spotify"></i>
        </span>

        <span>
          <i class="fa-brands fa-apple"></i>
        </span>

        <span>
          <i class="fa-brands fa-amazon"></i>
        </span>

        <span>
          <i class="fa-brands fa-instagram"></i>
        </span>
      </section>
    </header>
    <main class="home_main">
      <h1 class="home_main_titulo">
        emilia <br />
        cole //
      </h1>
    </main>
    <footer class="home_footer">
      <h2 class="home_footer_frase">twist in my reality</h2>
    </footer>
  </body>
</html>
