<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7ad2cc9ddb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/general.css" />
    <title>Music | Emilia</title>
  </head>
  <body>
    <header class="music_header">
      <nav class="music_header_menu">
        <ul class="music_header_menu_lista">
          <li><a href="/">home</a></li>
          <li><a href="about.html">about</a></li>
          <li><a href="music.html">music</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </nav>
      <section class="music_header_menu_redes">
        <span>
          <i class="fa-brands fa-twitter"></i>
        </span>
        <span>
          <i class="fa-brands fa-facebook"></i>
        </span>
        <span>
          <i class="fa-brands fa-spotify"></i>
        </span>

        <span>
          <i class="fa-brands fa-apple"></i>
        </span>

        <span>
          <i class="fa-brands fa-amazon"></i>
        </span>

        <span>
          <i class="fa-brands fa-instagram"></i>
        </span>
      </section>
    </header>
    <main>
      <section class="music_main_section_uno">
        <h1 class="music_main_titulo">music //</h1>
        <h4 class="music_main_titulo_subtitulo">
          Direct link
          <ul>
            <li>
              <a
                class="music_main_titulo_lista_a"
                href="https://www.youtube.com/watch?v=OL6BnzijlDA"
                target="_blank"
                >Album</a
              >
            </li>
            <li>
              <a
                class="music_main_titulo_lista_a"
                href="https://www.youtube.com/watch?v=BciS5krYL80"
                target="_blank"
                >Video: Hotel California</a
              >
            </li>
            <li>
              <a
                class="music_main_titulo_lista_a"
                href="https://www.youtube.com/watch?v=UrIiLvg58SY"
                target="_blank"
                >Video: More That Word</a
              >
            </li>
          </ul>
        </h4>
      </section>
      <section class="music_main_section_dos">
        <h2 class="music_main_titulo_subtitulo">album</h2>
        <h2 class="music_main_titulo_subtitulo">twist in my reality</h2>
        <img src="/img/emilia-play-list.png" alt="music imagen" />
        <ol>
          <li>
            <a
              class="music_main_titulo_lista_a"
              href="https://www.youtube.com/watch?v=BciS5krYL80"
              target="_blank"
              >.<i class="fa-solid fa-play"></i> Hotel California | 6:18</a
            >
          </li>
          <li>
            <a
              class="music_main_titulo_lista_a"
              href="https://www.youtube.com/watch?v=f4Mc-NYPHaQ"
              target="_blank"
              >.<i class="fa-solid fa-play"></i> I Want To Break Free | 04:24</a
            >
          </li>
          <li>
            <a
              class="music_main_titulo_lista_a"
              href="https://www.youtube.com/watch?v=UrIiLvg58SY"
              target="_blank"
              >.<i class="fa-solid fa-play"></i> More That Word | 04:16</a
            >
          </li>
          <li>
            <a
              class="music_main_titulo_lista_a"
              href="https://www.youtube.com/watch?v=ZxgMGk9JPVA"
              target="_blank"
              >.<i class="fa-solid fa-play"></i> Cum On Feel The Noize |
              05:06</a
            >
          </li>
        </ol>
        <div class="music_main_div_button">
          <button type="button"><a class="button-a" href="#">Go Top</a></button>
        </div>
      </section>
      <section class="music_main_section_tres">
        <h2 class="music_main_titulo_subtitulo">video</h2>
        <h2 class="music_main_titulo_subtitulo">Hotel California</h2>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/BciS5krYL80"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="music_main_titulo_subtitulo">
          Directed by VINCE MALC & EMILIA COLE <br />
          Edited and Filmed by NICOLAS TROY <br />
          Produced by NIKI HEART, <br />
          Wix Films LTD.
        </p>
        <div class="music_main_div_button">
          <button type="button"><a class="button-a" href="#">Go Top</a></button>
        </div>
      </section>
      <section class="music_main_section_cuatro">
        <h2 class="music_main_titulo_subtitulo">video</h2>
        <h2 class="music_main_titulo_subtitulo">more that Word</h2>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/UrIiLvg58SY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
        <p class="music_main_titulo_subtitulo">
          Directed by VINCE MALC & EMILIA COLE <br />
          Edited and Filmed by NICOLAS TROY <br />
          Produced by NIKI HEART, <br />
          Wix Films LTD.
        </p>
        <div class="music_main_div_button">
          <button type="button"><a class="button-a" href="#">Go Top</a></button>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
